.employe input{
    width: 200px;
    float: left;
    margin-left: 10px;
}

.employe .add-sales {
    float: right;
    margin-right: 10px;
}

.ex-class-report .head ul li {
    margin-left: 7px;
    list-style: outside none none;
    float: left;
}

.fix-class-input {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #808FA3;
    letter-spacing: 0;
    line-height: 12px;
    border: 1px solid #E9EFF4;
    border-radius: 3px;
}